html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
}

.container{
  
}
h1 {
  font-size: 1.5 rem;
}

a {
  /* margin-top: 0.25 rem; */
  color: grey;
  text-decoration: none;
}
